/* This is our style.css file */
/* We will use this to style our entire page. */

body{
	background-color: brown;
}

p{
	color: black;
	font-style: "Comic Sans";
	font-size: 200%;
}

a:hover{
	color: grey;
	font-family: arial;
};